/* Toast.module.css */
.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    width: 80%;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    animation: slide-in 0.5s, slide-out 2s;
  }
  
  .toast.success {
    background-color: #4caf50;
  }
  
  .toast.error {
    background-color: #f44336;
  }
  .txHash {
    color: #2b73ff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes slide-out {
    from {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    to {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
  }
  