.balanceContainer {
    border-radius: 12px;
    padding: 4vw;
    background-color: #222222;
  }

  .heading{
    font-family: "Sarpanch", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  
.sheet_header{
  height: 5rem;
}

  .balanceContainer span {
    font-size: 3.5vw;
  }
  
  .balanceHeader {
    text-align: left;
  }
  
  .balanceContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .balance p {
    font-size: 7vw;
  }
  .transferButton {
    padding: 0 7vw;
    height: 60px;
    border: none;
    background-color: #2b73ff;
    color: #FFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modalContent {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
  }
  
  .select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f7f2f1;
    color: #1b1434;
  }
  
  .input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    height: 3.5rem;
    background-color: #121212;
    color: #ffffff;
  }
  
  .confirmButton {
    background-color: #2b73ff;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.063rem;
    padding: 14px 10px;
    width: 100%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
  }