@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.title {
  font-size: 9vw;
  font-weight: 500;
}

.description {
  font-size: 0.875rem;
  text-align: center;
  width: 80vw;
  line-height: 120%;
  margin-top: 1.5rem;
  font-weight: 400;
}

.image {
  width: 80vw;
}

.button {
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.063rem;
  padding: 14px 10px;
  width: 87vw;
  background-color: #2b73ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 3.75rem;
}

.loginContainer {
  padding: 3vh 2vw;
  align-self: flex-end;
}

.loginButton {
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.063rem;
  padding: 14px 10px;
  width: 87vw;
  background: #232323;
  color: #2B73FF;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  border: solid 1px #2B73FF;
  height: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000000;
}

.imageContainer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_icon_texture_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.875rem !important;
  height: 17.188rem !important;
}
.logo_icon_texture_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.563rem !important;
  height: 15.063rem !important;
}

.button {
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.063rem;
  padding: 14px 10px;
  width: 87vw;
  height: 3rem;
}

.blur_bg{
  width: 13.125rem;
  height: 13.125rem;
  border-radius: 13.125rem;
  background: #0000FF;
  filter: blur(7rem);
  margin-top: -7rem;
}